<dl>
    <dt><label for="old_password">{{'OLD_PASSWORD' | translate}}</label></dt>
    <dd><input type="password" name="old_password" ng-model="user.old_password" required/></dd>
    <dt><label for="new_password">{{'NEW_PASSWORD' | translate}}</label></dt>
    <dd><input type="password" name="new_password" ng-model="user.new_password" not-equal="user.old_password" required/></dd>
    <dt><label for="new_password">{{'NEW_PASSWORD_TEST' | translate}}</label></dt>
    <dd><input type="password" name="new_password_test" ng-model="user.new_password_test" equal="user.new_password" required/></dd>
</dl>
