<!-- view about -->

<p id="id_sysinfo">
	Sweetspot - {{'SYSINFO' | translate}}.
</p>
<ul>
	<li id="server_time">{{'TIME' | translate}}: <em id="server_time_val">{{current.time}}</em></li>
	<li id="server_version">{{'SRVVER' | translate}}: <em id="server_version_val">{{version.server}}</em></li>
	<li id="db_version">{{'DBVER' | translate}}: <em id="db_version_val">{{version.database}}</em></li>
	<li id="client_version">{{'CLNTVER' | translate}}: <em id="client_version_val">{{client_ver}}</em></li>
</ul>

<p>{{'CONTRIBUTORS' | translate}}:
<ul>
	<li>Paweł Budak</li>
	<li>Piotr Łętkowski</li>
	<li>Marcin Majkrzak</li>
	<li>Robert Nowak, <a href="mailto:r.m.nowak@elka.pw.edu.pl?Subject=sweetspot">{{'SEND_MAIL' | translate}}</a></li>
	<li>Kacper Radzikowski</li>
</ul>
Warsaw University of Technology, Institute of Electronic Systems, 2014 - 2016
</p>

