<div>
    <h1>{{ 'CHARTS' | translate }}</h1>
    
    <div>
        <input type='checkbox' ng-model='unit_pair' ng-change='getCharts();'/>{{'MERGE_CHARTS' | translate}}
    </div>
    <div ng-if="!error" ng-repeat="n in [] | range:charts.length | limitTo:limit">
        <div chart-id="{{n}}" ui-chart="charts[{{n}}].data" chart-options="charts[{{n}}].options"></div>
        <button class='btn btn-default' ng-click="printElem(n);">{{'SAVE' | translate}}</button>
    </div>
    <div ng-if="error">
        <center>
            <h4>{{error | translate}}</h4>
        </center>
    </div>
</div>