<div id="devicesPanel" class="btn-group btn-group-sm">
	<button ss-add  ng-click="toggleAddition();" ng-if="!additionForm">{{'ADDNEW' | translate}}</button>
	<button ss-add  ng-click="addMeaning(newMeaning);" ng-if="additionForm">{{'ADDNEW' | translate}}</button>
    <button ss-remove ng-click="toggleAddition();" ng-if="additionForm">{{ 'CANCEL' | translate }} </button>
</div>

<div ng-if="additionForm" style="overflow:hidden; height: auto;">
    <form name="modifyMeaningForm" ss-meaning-form mn="newMeaning" type="normal"></form>
</div>

<table>
	<thead>
		<tr>
			<th>{{ 'MEANING' | translate }}</th>
			<th>{{ 'UNIT' | translate }}</th>
			<th>{{ 'ACTION' | translate }}</th>
		</tr>
	</thead>
	<tbody ng-repeat='s in meanings'>
        <tr>
            <th colspan='3'>
                {{ s.name | translate }}
            </th>
        </tr>
		<tr data-id='{{m.id}}' ng-repeat="m in s.meanings">
			<td ng-click="showMeaning(m.id);">{{ m.name | translate }}</td>
			<td>{{m.unit | translate}}</td>
			<td><button ss-remove ng-click="deleteMeaning(m.id)" class="remove-borehole-btn">{{ 'DELETE' | translate }}</button></td>
		</tr>
	</tbody>
</table>