<div class="row">   

    <div class='col-sm-12'>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ui-sref="management-state.users">{{'USERS' | translate}}</button>
          <button type="button" class="btn btn-default" ui-sref="management-state.meanings">{{'MEANINGS' | translate}}</button>
          <button type="button" class="btn btn-default" ui-sref="management-state.sections">{{'SECTIONS' | translate}}</button>
          <button type="button" class="btn btn-default" ui-sref="management-state.logs">{{'LOGS' | translate}}</button>
          <button type="button" class="btn btn-default" ui-sref="management-state.reset">{{'SYSTEM' | translate}}</button>
        </div>
    </div>
</div>

  <div class='row'>

	<div class="col-sm-12" ui-view></div>

  </div>