    <div>
        <form class='col-sm-12'>
            <input type='checkbox' ng-model='filters.mon'/>{{'PARAMETERS' | translate}}
        </form>
        <div ng-if='filters.mon' data-id='{{s.name}}' class="dropdown col-sm-12" ng-repeat='s in sections'>
            <div style='width : 100%; word-wrap: break-all; white-space: normal; text-align: left;' class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-click='$event.stopPropagation();'>
                <input id='{{s.name}}' type='checkbox' ng-checked='sectionSelected(s);' ng-click='toggleSection(s); $event.stopPropagation();' />{{s.name | translate}}<span class="caret"></span></div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat='m in s.meanings'>
                    <input data-id='{{m.id}}' type='checkbox' ng-checked='filters.meanings.indexOf(m) > -1' ng-click='toggleFilterMeaning(m); $event.stopPropagation();'/>
                        {{m.name | translate}}
                </li>
            </ul>
        </div>
    </div>
