.idea
.sconsign.dblite

build_custom.ini
include_debug.html
include_release.html
index.html
version.js
lighttpd.develop
lighttpd.log
unit_test_out.html

package-lock.json
sweetspot.log
web/values/dicts
web/version/version_gen.py

*.pyc